

/* GLOBAL RULES */


:root {
    --dark: #111827;
    --light: #edeef3;
    --light-hover: #bbb;
    --dark-hover: #030920;
    --dark-blue: #202944;
    --blue: #405994;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    font-size: inherit;
}


/* BASE TEMPLATE RULES */


nav {
    position: fixed;
    left: 0;
    right: 0;

    background-color: var(--dark);
    color: var(--light);
}

nav a:hover:not(:nth-child(2)) {
    color: #bbb;
}

#nav-container {
    max-width: 800px;
    padding: 10px;
}

#nav-container ul {
    list-style: none;
}

#nav-container li:not(:first-child)::before { /* Add divider between links */
    content: "/";
    padding: 0 12px 0 0;
}

#nav-container strong {
    font-size: 1.125rem
}

#nav-container img {
    height: 1.1em;
    width: 1.1em;
}

#logo {
    border-left: solid var(--light) 1px;
    border-right: solid var(--light) 1px;
    padding-left: 25px;
    padding-right: 25px;
}

#logo img {
    height: 2em;
    width: 2em;
}

li {
    text-align: center;
}

.content {
    width: 100%;
    height: 100%;
}

.background {
    background: radial-gradient(rgba(15, 20, 25, 0.20), rgba(17, 25, 35, 0.75)),
                url('./images/tile-grid-background.webp');
    background-size: cover;
}


/* ALERT RULES */


.alert {
    position: fixed;
    bottom: 20px;
    left: calc(50% - 164px);
    width: 300px;
    padding: 12px;

    font-size: 1.25rem;

    color: var(--light);
    border-radius: 5px;

    animation: fadeOut 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.alert-error {
    border: 2px solid #772323;
    background-color: #dd4949;
}

.alert-success {
    border: 2px solid #0f380f;
    background-color: #35a535;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


/* TITLE SCREEN RULES */


#main-menu {
    max-width: 800px;
    margin: 20px;
}

#title {
    font-size: min(10rem, 17.5vw);
    font-weight: 500;
    letter-spacing: 0.3rem;

    color: var(--light);
    text-decoration: underline dotted var(--dark);
    text-underline-offset: 0.1em;
    text-shadow: 0px 0px 20px #111827;
}

#button-container {
    width: 100%;
}

#button-container button {
    flex: 1;
    padding: 25px;
    margin: 10px;

    background-color: var(--dark);
    color: var(--light);
    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: all .2s ease-in-out; /* Animate button on hover */
}

#button-container button:hover {
    transform: scale(1.15);
    background-color: var(--dark-hover);
}


/* AUTHENTICATION FORM RULES */


.form {
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: var(--light);
    border: 2px solid var(--dark);
    border-radius: 10px;
}

.form-item {
    margin: 10px;
}

.form-item input {
    padding: 4px;
    font-size: 1rem;
}

.form button {
    max-width: 200px;
    margin: 20px;
    padding: 10px;

    background-color: var(--dark-blue);
    color: var(--light);
    border: none;
    border-radius: 10px;

    cursor: pointer;
}


/* PLAY SCREEN RULES */


#room-options {
    max-width: 1000px;
    justify-content: space-around;
    color: #fff;
}

@media screen and (max-width: 750px) {
    #room-options {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

#room-options > div:not(.divider) {
    width: 300px;
    height: 300px;
}

#room-options form {
    height: 100%;
}

#room-options button {
    padding: 20px;
    
    font-size: 2.5rem;

    color: var(--light);
    background-color: var(--dark);
    border: none;
    border-radius: 25px;

    cursor: pointer;
    transition: all .2s ease-in-out; /* Animate button on hover */
}

#room-options button:hover {
    transform: scale(1.1);
    background-color: var(--dark-hover);
}

#room-options input {
    width: 80%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.divider {
    text-shadow: 0px 0px 25px var(--dark-hover);
}


/* GAME ROOM RULES */


#game-container {
    max-width: 1000px;
    padding: 20px;
    gap: 50px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    aspect-ratio: 1;
}

.grid-element {
    background-color: #fff;
    color: #111827;
    border: 1px solid #111827;
}

.ship-tile {
    background-color: aqua;
}

.miss-tile {
    background-color: gray;
}

.hit-tile {
    background-color: red;
}