

/* GLOBAL RULES */


html,
body {
    box-sizing: border-box;
    height: 100%;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    font-size: inherit;
}


/* FLEX CLASSES */


.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.item-center {
    align-self: center;
}

.gap-small {
    gap: 6px;
}

.gap-medium {
    gap: 12px;
}

.gap-large {
    gap: 24px;
}


/* TEXT CLASSES */


.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-impact {
    font-family: Impact, sans-serif;
    letter-spacing: 0.2rem;
}

.text-xl {
    font-size: 5rem;
}

.text-l {
    font-size: 3rem;
}

.text-m {
    font-size: 1.75rem;
}

.text-s {
    font-size: 1rem;
}

.text-bold {
    font-weight: 800;
}

.text-center {
    text-align: center;
}


/* BASE TEMPLATE RULES */


nav {
    position: absolute;
    left: 0;
    right: 0;

    background-color: #111827;
    color: #fff;
}

nav a:hover:not(:nth-child(2)) {
    color: #bbb;
}

#nav-container {
    max-width: 800px;
    padding: 10px;
}

#nav-container ul {
    list-style: none;
}

#nav-container li:not(:first-child)::before { /* Add divider between links */
    content: "/";
    padding: 0 12px 0 0;
}

#nav-container strong {
    font-size: 1.125rem
}

#nav-container img {
    height: 1.1em;
    width: 1.1em;
}

#logo {
    border-left: solid white 1px;
    border-right: solid white 1px;
    padding-left: 25px;
    padding-right: 25px;
}

#logo img {
    height: 2em;
    width: 2em;
}

li {
    text-align: center;
}

.content {
    height: 100%;
}


/* TITLE SCREEN RULES */


.background { /* Set title screen background image */
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(15, 20, 25, 0.20), rgba(17, 25, 35, 0.75)),
                url('./images/tile-grid-background.webp');
    background-size: cover;
}

#main-menu {
    max-width: 800px;
    margin: 20px;
}

#title {
    font-size: min(10rem, 17.5vw);
    font-weight: 500;
    letter-spacing: 0.3rem;

    color: white;
    text-decoration: underline dotted #111827;
    text-underline-offset: 0.1em;
    text-shadow: 0px 0px 20px #111827;
}

#mode-selection {
    width: 100%;
}

#mode-selection button {
    flex: 1;
    padding: 25px;
    margin: 10px;

    background-color: #111827;
    color: #fff;
    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: all .2s ease-in-out; /* Animate button on hover */
}

#mode-selection button:hover {
    transform: scale(1.15);
    background-color: #030920;
}


/* AUTHENTICATION FORM RULES */


.form {
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #111827;
    border-radius: 10px;
}

.form-item {
    margin: 10px;
}

.form-item input {
    padding: 4px;
    font-size: 1rem;
}

.form button {
    max-width: 200px;
    margin: 20px;
    padding: 10px;

    background-color: #202944;
    color: #fff;
    border: none;
    border-radius: 10px;

    cursor: pointer;
}


/* ALERT RULES */


.alert {
    font-size: 1.25rem;
    padding: 12px;
    color: #fff;
}

.alert-error {
    max-width: 300px;
    margin: 15px;
    background-color: #dd4949;
    border-radius: 5px;
}

.alert-success {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #35a535
}