<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/material-directions-boat.svg') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='helpers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav class="flex flex-center">
        <div id="nav-container" class="flex flex-1 flex-center gap-large text-s text-center font-roboto">
            <ul class="flex flex-1 flex-end gap-medium">
                <li><a href="https://github.com/ovvosystem/battleship" target="_blank" class="flex flex-center gap-small">
                    <img src="{{ url_for('static', filename='images/github-mark-white.svg') }}">
                    <p>Source Code</p>
                </a></li>
            </ul>
            <a href="/">
                <div id="logo" class="flex flex-center gap-small">
                    <img src="{{ url_for('static', filename='images/material-directions-boat.svg')}}">
                    <h1>BATTLESHIP</h1>   
                </div>
            </a>
            <ul class="flex flex-1 flex-start gap-medium">
                {% if user.is_authenticated %}
                    <li><span>Welcome, <strong>{{ user.username }}</strong></span></li>
                    <li><a href="/auth/logout">Logout</a></li>
                {% else %}
                    <li><a href="/auth/register">Register</a></li>
                    <li><a href="/auth/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <section class="content background flex flex-center">
    {% block content %}{% endblock %}
    </section>
    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "success" %}
                    <div class="alert alert-success text-center font-roboto"><strong>Success:</strong> {{ message }}</div>
                {% elif category == "error" %}
                    <div class="alert alert-error text-center font-roboto"><strong>Error:</strong> {{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}    
    </section>
</body>
</html>