{% extends "base.html" %} {% block title %}Battleship{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success text-center"><strong>Success:</strong> {{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}

<span class="background flex flex-center">
    <div id="main-menu" class="flex flex-1 flex-center flex-column gap-large">
        <h1 id="title" class="flex flex-center gap-small font-impact">BATTLESHIP</h1>
        <div id="mode-selection" class="flex gap-large font-roboto">
            <button class="text-m text-bold">SINGLE-PLAYER</button>
            <button class="text-m text-bold">MULTI-PLAYER</button>
        </div>
    </div>
</span>
{% endblock %}